@inherits LayoutComponentBase

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
<link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div class="top-row px-4">
            <MudAlert Severity="Severity.Info" Class="justify-start" Variant="Variant.Outlined">Ilosc nowych zamówień @AppState.NewOrders</MudAlert>
            <a href="https://preview.redd.it/y1dq3a2v99841.jpg?width=960&crop=smart&auto=webp&v=enabled&s=57c7e3d66c14c37bc1193118fc1ad6dacdd1822a" target="_blank">About</a>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />